body {
    font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック Std M";
    background-color:rgb(249, 255, 251);
    margin: 0px;
}

.header-title {
    font-size: 15px;
    padding: 20px 20px 20px 60px;
}

.main-image {
    float: left;
    width:50px;
    height:50px;
}

#header {
    border-style: inset;
    border-width: 0px 0px 1px 0px;
    background-color: rgb(253, 253, 253);
}