body {
    font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック Std M";
    background-color:rgb(249, 255, 251)
}

.header-title {
    font-size: 15px;
    padding: 20px 40px 2px 20px;
}

.main-image {
    float: left;
    width:50px;
    height:50px;
}