body {
    font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック Std M";
    background-color:rgb(249, 255, 251);
    margin: 0px;
    width: 1400px;
}

.header-title {
    font-size: 15px;
    padding: 10px 20px 10px 0px;
}

.main-image {
    border-style: double;
    width: 600px;
    height: 400px;
    margin: 30px 30px 30px 70px;
    text-align: center;
    border-radius: 10px;

}

#header {
    border-style: inset;
    border-width: 0px 0px 1px 0px;
    background-color: rgb(253, 253, 253);
    width: 1450px;
}


.header-image {
    float:left;
    width:70px;
    padding: 35px 0px 10px 30px;

}

.table {
    margin: 0px 10px 10px 130px;
    text-align: center;
    height: 400px;
    width: 500px;


}

.form {
    width: 550px;
    padding: 50px;
    margin: 30px 0px 30px 70px
}


.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:900px;
}

.main-image img {
    padding: 10px;
}

.table table {
    width: 100%;
    height: 85%;
    border-radius: 5px;
}

.form form {
    padding: 0px 0px 0px 30px;
}

.form form li {
    list-style-type: none;
    margin:70px
}

.form label {
    font-size: 18px;
}

.form input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
}

.form input[type="button"] {
    background-color: rgb(95, 196, 255)
}

.form input[type="datetime-local"] {
    width: 200px;
    margin: 10px;
}

select {
    width: 80px;
    height: 30px
}